@model IEnumerable<AspWebProjet.Models.Session>
@using AspWebProjet.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


@{
    Layout = "_Layout2";
    
}


@{
    ViewData["Title"] = "Index";
    List<Parcours> ParcoursList = (List<Parcours>)ViewBag.ParcList;
    Utilisateur u = (Utilisateur)ViewBag.Util;
    
}





<h1>Sessions</h1>

@foreach (var item in Model)

{
    if(item.Etudiants != null && @item.Etudiants.Contains(u))
    {
            <p>Vous êtes inscrit à la session : @item.Intitule.</p>

    }
}

@*<p>@u.Prenom</p>*@
@*@if (SignInManager.IsSignedIn(User))
{
    <h6>Vous êtes inscrits à la session</h6>
}*@



@*<p>
    <a asp-action="Create">Nouvelle session</a>
</p>*@


<div id="carouselControls" class="carousel slide" data-bs-ride="carousel">



    <div class="carousel-inner">
        @foreach (var item in Model) {
            @if ((@Model.ToList().IndexOf(item) == 0))
            {
                <div class="carousel-item active">
                    <div class="card" style="width: 25rem ; margin:auto; text-align:center; padding-top:10px" >
                        <img src="~/Images/@item.Parcours.Logo" class="card-img-top" style="height:160px; width: auto; margin:auto" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Intitule)</h5>
                         <p class="card-text">@Html.DisplayFor(modelItem => item.DateDebut)</p>
                         <p class="card-text">@Html.DisplayFor(modelItem => item.DateFin)</p>
                           
                         @if (!SignInManager.IsSignedIn(User))
                         {
                                <a  href="/Identity/Account/Register" class="btn btn-primary" >S'inscrire à la session</a>
                            }
                            else
                            {
                                <a asp-action="InscriptionSession" asp-route-id="@item.Id" class="btn btn-primary" >S'inscrire à la session</a>
                                @*<a asp-action="Details" asp-route-id="@item.Id">DetailsTEST</a>*@
                            }

                    </div>
                    </div>
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <div class="card" style="width: 25rem; margin:auto; text-align:center; padding-top:10px" >
                        <img src="~/Images/@item.Parcours.Logo" class="card-img-top" style="height:160px; width: auto; margin:auto" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Intitule)</h5>
                         <p class="card-text">@Html.DisplayFor(modelItem => item.DateDebut)</p>
                         <p class="card-text">@Html.DisplayFor(modelItem => item.DateFin)</p>
                         @if (!SignInManager.IsSignedIn(User))
                         {
                                <a href="/Identity/Account/Register" class="btn btn-primary" >S'inscrire à la session</a>
                            }
                            else
                            {
                                <a asp-action="InscriptionSession" asp-route-id="@item.Id" class="btn btn-primary" >S'inscrire à la session</a>


                            }
                    </div>
                    </div>
                </div>
            }

        }
    
    </div>

    


    
    <button style="filter: invert(100%)" class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button style="filter: invert(100%)" class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  </div>


  <div style="display:block">
  @foreach ( var parc in ParcoursList)
    {
        <div style="display:inline-flex;">
        <div class="card" style="width: 200px; height:auto; margin-top:20px ; margin-right:20px; text-align:center; padding-top:20px" >
                        <img src="~/Images/@parc.Logo" class="card-img-top" style="width:70px; margin:auto" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => parc.Nom)</h5>
                         <p class="card-text">@Html.DisplayFor(modelItem => parc.Resume)</p>
                         
                         @*<a href="#" class="btn btn-primary" >S'inscrire</a>*@
                    </div>
                    </div>
        
        @foreach ( var mod in parc.Modules)
        {
            <div class="card" style="width: 150px; height: auto; padding:10px; text-align:center; justify-content:space-between; margin-top:20px; margin-right:5px; background-color:lightgrey">
                <img src="~/Images/@mod.Logo" width="50px" style="margin:auto; padding:8px">   
                <h6>@mod.Nom</h6> 
                   <p>@mod.Resume</p>
                   <p>@mod.Infos</p>
                   <a class="btn btn-outline-primary" style="font-size:0.8rem; margin:10px" onclick="ajouter(@mod.Id)">Ajouter</a>

                   
            </div>
        }
       
       </div> 
       <br />
    }

    </div>
    @section Scripts{

     <script>
    
    function ajouter(x){
        
       document.getElementById('#panier').innerHTML = content;


        $.ajax({
            url: '/Paniers/AddById/'+x,
            type: 'post',
            success: function(content){
                document.getElementById('#panier').innerHTML = content;
            }

        });
    };
</script>
    }
  


 

  



